.dataTable {
    width: 100%;
    text-align: left;
    padding: 1rem;
    max-height: 100%;
    border-radius: 1rem;
    align-items: flex-start;
    /* border: 1px solid wheat; */
}

.tableContainer {
    height: 100%;
    background-color: #202020;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Table404 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

tbody {
    height: fit-content;
}

td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #181818;
}

tr {
    position: relative;
}

.options-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.options-button {
    text-align: center;
    color: white;
    background-color: #181818;
    border: none;
    outline: none;
    width: 2rem;
    aspect-ratio: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.options-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #181818;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 10;
    overflow: hidden;
    object-fit: cover;
}

.options-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.options-item:hover {
    background-color: #262626;
}