.gridlayout{
    display: grid;
    width: 100vw;
    height:  calc(100vh - 5rem);
    margin-bottom: 5rem;
    gap: 0;
}
.gridLayout3Col{
    grid-template-columns: 15vw 2fr 0.95fr;
}
.gridLayout2Col{
    grid-template-columns: 15vw 2fr;
}
.gridlayout > *{
    width: 100%;
    /* border: 1px solid white; */
    margin: 0;
}